<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <title>Profil</title>


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="../css/style_profil.css" rel="stylesheet" type="text/css">


</head>

<body>
    <div class="">
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

                <div class="container-fluid">

                    <ul class="nav navbar-nav">
                        <li>
                            <a id='logo' class="navbar-brand zwin" href="../indeks.html">
                               Baby Love <span  class="glyphicon glyphicon-heart"/>
                            </a>
                        </li>
                        <li class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Znajome</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#"><span class="glyphicon glyphicon-search"></span>Szukaj</a></li>


                            </ul>

                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-music"></span> Aktywności</a>

                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Spacer</a></li>
                                <li id="getcoffe"><a href="#">Kawa</a></li>
                                <li><a href="#">Basen</a></li>


                            </ul>


                        </li>
                        <li><a href="#"><span class="glyphicon glyphicon-comment"></span> Czat</a></li>

                        <form class="navbar-form navbar-right">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Szukaj">
                            </div>
                            <button type="submit" class="btn btn-default">Szukaj</button>
                        </form>


                    </ul>


                </div>

            </nav>
        </header>
    </div>




    <div class="row">
        <div class="col-sm-6">
            <div id="dataprof">
                <img id="prof" src="../images/graf.jpg" alt="Twoje zdjęcie profilowe" class="img-circle">

                <h1>Twoj profil</h1>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputName" placeholder="Imię">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputsurname" placeholder="Nazwisko">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputCity" placeholder="Miasto">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputStrat" placeholder="Ulica">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>


                    <div class="btn-group" role="group" aria-label="...">

                        <button type="button" class="btn btn-default">Edytuj</button>
                        <button type="button" class="btn btn-default">Wyloguj</button>

                    </div>
                </form>
            </div>

        </div>
        <div class="col-sm-6">



<div id="map" style="width:400px;height:400px;background:yellow"></div>
            
            <p>Kliknij guzik celem odczytania Twojej lokalizacji</p>
            <button onclick="getLocation()">Wciśnij</button>
            <p id="demo"></p>

        </div>










        <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwHgfJ609T56cEtE-290jBcIyRYnYiXTQ&callback=initMap">
    </script>
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script src='../js/app_profile.js'></script>
 

</body>





</html>
